.employee-page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin-top: 20px; 
  }
  .employee-page-container {
    padding: 20px;
    min-height: 100vh;
  }

.employee-page-container h1 {
  margin-bottom: 20px; 
}